@model RemnantsProject.Data.Slab

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Slab</h4>
    <hr />
    <button onclick="DisplayWindow('#holdForm')">HOLD</button>
    <div id="holdForm" class="hidden">
        <form asp-action="Hold">
            <input type="hidden" name="slabId" value="@Model.SlabId" />
            <input type="hidden" name="userId" />
            <label>Customer name</label>
            <input name="HoldCustomerName"  />
            <button>Confirm</button>
        </form>
    </div>
 
    @if (string.IsNullOrEmpty(Model.PayConfirmationNumber) && Model.SlabPickedUpDate==null)
    {
        <button onclick="DisplayWindow('#paymentConfirmationForm')">Payment</button>
    }
    else
    {
        <button disabled>Payment</button>
    }
    <div id="paymentConfirmationForm" class="hidden">
        <form asp-action="Payment">
            <input type="hidden" name="slabId" value="@Model.SlabId" />
            <label>Payment confirmation number</label>
            <input name="PaymentConfirmationNumber" />
            <button>Confirm</button>
        </form>
    </div>
    <button onclick="DisplayWindow('#SlabPickedUpDateForm')">Pick Up Date</button>
    <div id="SlabPickedUpDateForm" class="hidden">
        <form asp-action="PickUpDate">
            <input type="hidden" name="slabId" value="@Model.SlabId" />
            <label>Are you confirming the slab was picked up today?</label>
            <button>Yes</button>
        </form>
    </div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colour.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurfaceType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurfaceType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thickness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thickness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoldDueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoldDueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoldCustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoldCustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoldCustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoldCustomerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayConfirmationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayConfirmationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlabPickedUpDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlabPickedUpDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SlabId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
